[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
loguru = "*"
dictor = "*"
django-bootstrap-modal-forms = "*"
django-bootstrap5 = "*"
django-ninja = "*"
#psycopg2 = "*"
uvicorn = "*"
xmltodict = "*"
django-debug-toolbar = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
app = "python manage.py runserver 0.0.0.0:8000"
