<div id="target_container">

{% extends "base.html" %}
{% load static %}
{% block content %}
{% include "../errors.html" %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page">Home</li>
    <li class="breadcrumb-item" aria-current="page">Notifications</li>
    <li class="breadcrumb-item active" aria-current="page">Connectors</li>
  </ol>
</nav>

<div class="row">
  <div class="col mx-auto">
    {% if not connectors %}
    <div class="p-3 fs-2 badge badge-warning">
      No Connectors found
    </div> 
    <br>
  
    <a class="btn btn-sm btn-info" href="{% url 'connector_create' ctype='slack' %}">create new Slack Connector</a>
    {% else %}

    <h3>Slack Connectors</h3>
    <a class="btn btn-sm btn-info float-end" href="{% url 'connector_create' ctype='slack' %}">create new Slack Connector</a>
    <span class="p-3"></span>
    
    <div class="row">
      <div class="col col-2 fw-bold">Channel Name</div>
      <div class="col col-2 fw-bold">Webhook URL</div>
      <div class="col fw-bold">Active</div>
    </div>
    


  
    <table class="table table-bordered">
    {% csrf_token %}
      <tr>
        <th>Name</th>
        <th>Webhook</th>
        <th>Active?</th>
        <th></th>
      </tr>
      {% for c in connectors %}
      <tr class="row_{{c.id}}">
        <td>{{c.name}} {{c.id}}</td>
        <td>{{c.webhook}}</td>
        <td>{{c.active}}</td>
        <td>  
          <button class="btn btn-sm btn-outline-primary"
            hx-get="{% url 'connector_edit' id=c.id %}"
            hx-target="#modal-body-area"
            hx-swap="OuterHTML"
            hx-trigger="click"
            hx-vals='{"ctype": "slack"}'
            data-bs-toggle="modal" 
            data-bs-title="edit - {{ c.name }}"

            data-bs-target="#basemodal"  
            data-bs-modalsize="modal-md">
            Edit
          </button>
          <button class="btn btn-sm btn-outline-danger"
            hx-post="{% url 'connector_delete' id=c.id %}"
            hx-target="#modal-body-area"
            hx-swap="OuterHTML"
            hx-trigger="click"
            hx-confirm="Are you sure"
            data-bs-toggle="modal" 
            data-bs-title="delete - {{ c.name }}" 
            data-bs-target=".row_{{c.id}}"  
            data-bs-modalsize="modal-md">
            Delete
          </button>
        </td>
      </tr>
    {% endfor %}
  </table>

    {% endif %}
  </div>  
</div>

{% endblock %}
</div>