
{% extends "base.html" %}
{% load static %}
{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Home</li>
    <li class="breadcrumb-item active" aria-current="page">Host Groups</li>
  </ol>
</nav>

<div class="row">
  <div class="col mx-auto">
    {% if not host_groups %}
    <div class="badge badge-warning">
      No host groups found
    </div>
    <br>
  
    <a class="btn btn-sm btn-info" href="{% url 'hostgroup_create' %}">create new Host Group</a>
    {% else %}

    <h3>Host Groups</h3>
    <a class="btn btn-sm btn-info float-end" href="{% url 'hostgroup_create' %}">create new Host Group</a>
    <span class="p-3"></span>
    
    <div class="row">
      <div class="col col-2 fw-bold">Name</div>
      <div class="col col-2 fw-bold">Description</div>
      <div class="col col-6 fw-bold">Hosts</div>
      <div class="col col-2"></div>
    </div>
    {% for hg in host_groups %}
    <div class="row border border-default p-2">
      <div class="col col-2">{{ hg.name }} {{ hg.id }}</div>
      <div class="col col-2">{{ hg.description }}</div>
      <div class="col col-6">hosts</div>
      <div class="col col-2">
        <div class="btn btn-sm btn-outline-danger">Delete</div>
        <div class="btn btn-sm btn-outline-primary"
          hx-get="{% url 'hostgroup_edit' id=hg.id %}"
          hx-target="#modal-body-area"
          hx-swap="OuterHTML"
          hx-trigger="click"
          data-bs-toggle="modal" 
          data-bs-title="edit - {{ hg.name }}" 
          data-bs-target="#basemodal"  
          data-bs-modalsize="modal-md">
          Edit
        </div>
      </div>
     </div>
    {% endfor %}
    {% endif %}
  </div>  
</div>

{% endblock %}