<div id="target_container">

{% extends "base.html" %}
{% load static %}
{% block content %}
{% include "../errors.html" %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Home</li>
    <li class="breadcrumb-item active" aria-current="page">Host Groups</li>
  </ol>
</nav>

<div class="row">
  <div class="col mx-auto">
    {% if not host_groups %}
    <div class="badge badge-warning">
      No host groups found
    </div>
    <br>
  
    <a class="btn btn-sm btn-info" href="{% url 'hostgroup_create' %}">create new Host Group</a>
    {% else %}

    <h3>Host Groups</h3>
    <a class="btn btn-sm btn-info float-end" href="{% url 'hostgroup_create' %}">create new Host Group</a>
    <span class="p-3"></span>
    
    <div class="row">
      <div class="col col-2 fw-bold">Name</div>
      <div class="col col-2 fw-bold">Description</div>
      <div class="col col-6 fw-bold">Hosts</div>
      <div class="col col-2"></div>
    </div>
    
    <form>
    {% csrf_token %}


    <table class="table">
    {% for hg in host_groups %}
    <tr>
      <td class="col-2">{{ hg.name }}</td>
      <td class="col-2">{{ hg.description }}</td>
      <td class="col-6">hosts</td>
      <td class="col col-2">
        <button type="button"
          id="delete_btn"
          class="btn btn-sm btn-danger"
          hx-delete="{% url 'hostgroup_delete' id=hg.id %}"
          hx-target="closest tr"
          hx-confirm="Are you sure you want to DELETE {{hg.name}}"
          hx-swap="OuterHTML swap:1s" >
          Delete
        </button>
        <button type="button" 
          class="btn btn-sm btn-outline-primary"
          hx-get="{% url 'hostgroup_edit' id=hg.id %}"
          hx-target="#modal-body-area"
          hx-swap="OuterHTML"
          hx-trigger="click"
          data-bs-toggle="modal" 
          data-bs-title="edit - {{ hg.name }}" 
          data-bs-target="#basemodal"  
          data-bs-modalsize="modal-md">
          Edit
        </div>
      </td>
    </tr>
    {% endfor %}
    </form>
    </table>

    {% endif %}
  </div>  
</div>

{% endblock %}
</div>