
{% extends "base.html" %}
{% load static %}
{% block content %}


<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Home</li>
    <li class="breadcrumb-item active" aria-current="page">Hosts</li>
  </ol>
</nav>

<div class="row">
  <div class="col mx-auto">
    
    {% if not allhosts and not pending %}
    No hosts available
    {% endif %}

    {% if allhosts %}
    <h3>All Hosts</h3>
    <form method="POST" action="{% url 'host_action' %}">
    {% csrf_token %}
    <table class="table table-bordered table-hover" id="table" data-search="true" data-toggle="table">
      <tr>
        <th data-sortable="true" scope="col" class="bg-purple">Hostname</th>
        <th scope="col" class="bg-purple">OS</th>
        <th data-sortable="true" scope="col"  class="bg-purple">Status</th>
        <th scope="col" class="bg-purple">Last seen</th>
        <th scope="col"></th>
      </tr>
    
  
      <tbody id="hosts-table-body">
        {% for host in allhosts %}
        <tr id="row_{{host.monit_id}}">
          <td>{{host.name}}</td>
          <td>{{host.os_name}} {{host.os_release}}</td>
          {% if host.active == 1 %}
          <td>
            <span class="badge rounded-pill bg-success">active</span>
          </td> 
          {% else %}
          <td class="bg-default">
            inactive
          </td> 
          {% endif %}
          <td>{{host.last_checkin}}</td>
          <td>
            <input type="hidden" name="monit_id" value="{{host.monit_id}}"/>
            <div class="col m-2">
              {% if host.ignore == 0 %}
              <button class="btn btn-sm btn-info" type="submit" name="action" value="ignore">Ignore</button>
              {% else %}
              <button class="btn btn-sm btn-outline-info" type="submit" name="action" value="monitor">Monitor</button>
              {% endif %}
              &nbsp;
              <button class="btn btn-sm btn-danger" type="submit" 
                name="action" value="delete" onclick="return confirm('Are you sure?')">Delete</button>              
            </div>
          </td>
        </tr>
        {% endfor %}    
        </tbody>
      </table>
    {% endif %}
    </form>
  </div>  
</div>

<br>

<div class="col mx-auto"> <!-- COL PENDING -->

  {% if pending %}
  <div class="fw-bold h2 text-info">Pending approval</div>
    <form method="POST" action="{% url 'host_action' %}">
    {% csrf_token %}
    <table class="table table-bordered">
      <tr>
        <th class="bg-purple">Monit ID</th>
        <th class="bg-purple">Hostname</th>
        <th class="bg-purple">OS</th>
        <th></th>
      </tr>
      {% for host in pending %}
      <tr>
        <td>{{ host.monit_id }}</td>
        <td>{{ host.name }}</td>
        <td>{{ host.os_version }}</td>
        <td>
          <input type="hidden" name="monit_id" value="{{host.monit_id}}"/>
          <div class="col m-2">
            <button class="btn btn-sm btn-success" type="submit" name="action" value="approve" name="abc">Approve</button>
              &nbsp;
            <button class="btn btn-sm btn-danger" type="submit" name="action" value="delete" onclick="return confirm('Are you sure?')">Delete</button>
          </div>
        </td>
      </tr>
      {% endfor %}
    </table>
    </form>
  </div>
  {% endif %} 

</div><!-- COL PENDING-->


{% endblock %}