
{% extends "base.html" %}
{% load static %}
{% block content %}



<h3>Admin > Hosts</h3> 

<section>
  {% if pending %}
  <div class="fw-bold text-info p-3">pending approval</div>
  <div class="row">
    <div class="col-4">monit ID</div>
    <div class="col-2">hostname</div>
    <div class="col-2">os</div>
  </div>
    
  {% for host in pending %}
  <div class="row p-2 border border-1 border-info">
    <div class="col-4">{{ host.monit_id }}</div>
    <div class="col-2">{{ host.name }}</div>
    <div class="col-2">{{ host.os_version }}</div>
    <div class="col">
      <button class="m-3 btn btn-success">Approve</button>
      <button class="btn btn-danger">Delete</button>
    </div>

  </div>
  {% endfor %}

  {% endif %}
</section>


{% endblock %}