{% extends "base.html" %}


{% load django_bootstrap5 %}
{% load static %}

{% block content %}

<div class="row">

    <!-- WARNING -->
    <div class="shadow-sm col p-4 mb-5 bg-body rounded border">
        <table class="table table-bordered table-hover border-warning">
            <tr>
                <td style="width:160px" class="text-bg-warning p-2">
                    <b>Agent</b>
                </td>
                <td>
                    svc
                </td>
            </tr>
        </table>

        {% for svc in warning %}  
           {{svc.name}}
           {{svc.host.name}}
           {{svc.state}}
            <br>
        {% endfor %}
                
    </div><!-- warning-section -->

  
</div>

{% include "modal/basemodal.html" %}

{% endblock %}