{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MonitDJ</title>  
  <link rel="shortcut icon" href="{% static 'assets/compiled/svg/favicon.svg' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'assets/compiled/css/app.css' %}">
  <link rel="stylesheet" href="{% static 'assets/compiled/css/app-dark.css' %}">
  <link rel="stylesheet" href="{% static 'css/monitdj.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <script>
    document.body.addEventListener('htmx:configRequest', (event) => {
      event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    })
  </script>
</head>
<body>
  <script src="{% static 'assets/static/js/initTheme.js' %}"></script>
    <div id="app">
      <div id="main" class="layout-horizontal">
        <header class="mb-5">
        {% include "navlogin.html" %}
        {% include "nav.html" %}
        </header>
        <div class="content-wrapper container">
          {% block content %}
          {% endblock %}
          <footer>
            <div class="container">
              <div class="footer clearfix mb-0 text-muted">
                <div class="float-start">
                  <p>2023 &copy; cartman </p>
                </div>
          
              </div>
            </div>
          </footer>
        </div>
      </div>
    </div>

<script src="{% static 'assets/static/js/components/dark.js' %}"></script>
<script src="{% static 'assets/static/js/pages/horizontal-layout.js' %}"></script>
<script src="{% static 'assets/extensions/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
<script src="{% static 'assets/compiled/js/app.js' %}"></script>
<script src="{% static 'assets/extensions/apexcharts/apexcharts.min.js' %}"></script>
<script src="{% static 'assets/static/js/pages/dashboard.js' %}"></script>
<script src="{% static 'assets/static/js/htmx.1.9.6.js' %}"></script>
<script src="{% static 'assets/static/js/hyperscript.js' %}"></script>

</body>
</html>