{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MonitDJ</title>  
  <link rel="shortcut icon" href="{% static 'assets/compiled/svg/favicon.svg' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'assets/compiled/css/app.css' %}">
  <link rel="stylesheet" href="{% static 'assets/compiled/css/app-dark.css' %}">
  <link rel="stylesheet" href="{% static 'css/monitdj.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap-icons.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap-table.min.css' %}">
 

</head>
<body>
  <script src="{% static 'assets/static/js/initTheme.js' %}"></script>
    <div id="app">
      <div id="main" class="layout-horizontal">
        <header class="mb-5">
        {% include "navlogin.html" %}
        {% include "nav.html" %}
        </header>
        <div class="content-wrapper container">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>

  {% include "modal/basemodal.html" %}

    <script>
      document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
      })
    </script>

    <script>
      const basemodal = document.getElementById('basemodal')
      basemodal.addEventListener('show.bs.modal', event => {
        // Button that triggered the modal
        const button = event.relatedTarget
        // Extract info from data-bs-* attributes
        const title = button.getAttribute('data-bs-title')
        const modal_size = button.getAttribute('data-bs-modalsize')
        const modal_title = basemodal.querySelector('.modal-title')
        const modal_dialog = document.getElementById('modalDialog')
        // regenerate modal size class + title
        modal_title.textContent = title
        modal_dialog.className = ''
        modal_dialog.classList.add("modal-dialog")
        modal_dialog.classList.add(modal_size)
      })
    </script>

    <script src="{% static 'assets/static/js/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'assets/static/js/components/dark.js' %}"></script>
    <script src="{% static 'assets/static/js/pages/horizontal-layout.js' %}"></script>
    <script src="{% static 'assets/extensions/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'assets/compiled/js/app.js' %}"></script>
    <!--<script src="{% static 'assets/extensions/apexcharts/apexcharts.min.js' %}"></script>-->
    <script src="{% static 'assets/static/js/pages/dashboard.js' %}"></script>
    <script src="{% static 'assets/static/js/htmx.1.9.6.js' %}"></script>
    <script src="{% static 'assets/static/js/multi-swap.js' %}"></script>
    <script src="{% static 'assets/static/js/hyperscript.js' %}"></script>

  </body>
</html>