
{% if messages %}
<div class="row p-3 mx-auto message">
  <div class="col col-lg-6 col-md-8">
    <ul class="messages">
    {% for message in messages %}
      {% if message.level == 40 %}
      <div class="alert alert-danger">{{ message }}</div>
      {% elif message.level == 25 %}
      
      
   


      <div _="on load 
              wait 3 s
              transition opacity to 0
              remove me"
               
        class="alert alert-success">{{ message }} nnn </div>
      {% elif message.level == 30 %}
      <div class="alert alert-warning">{{ message }}</div>
      {% else %}
      <div class="alert alert-info">{{ message }}</div>
      {% endif %}
    {% endfor %}
    </ul>
  </div>
</div>
{% endif %}

{% if form.errors %}
<div class="row p-3">
  <div class="col-6">
    {% for field in form %}
      {% for error in field.errors %}
      <div class="alert alert-danger">
        <strong>{{field.label}}: {{ error|escape }}</strong>
      </div>
      {% endfor %}
    {% endfor %}
  </div>
</div>

{% for error in form.non_field_errors %}
<div class="row p-3">
  <div class="col-6">
    <div class="alert alert-danger">
      <strong>{{ error|escape }}</strong>
    </div>
  </div>
</div>
{% endfor %}

{% endif %}