{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="page-heading">
  <h3>Dashboard</h3>
</div>

{% include "quickstatus.html" %}

<div class="page-content">
  <section class="row">
    <div class="col col-lg-12">
      <div class="row">
        <div class="col col-lg-12 order-md-1 order-last">
        

          <!-- PROD DASHBOARD -->
          {% include "prod.html" %}

            <!-- SIM DASHBOARD -->
            <div class="card">
              <div class="card-header">
                  <h4><div class="badge bg-primary">SIM Host Errors</div></h4>
              </div>
              <div class="card-body">
                
              </div>
            </div>


            <!-- ALL HOSTS DASHBOARD -->
            <div class="card">
              <div class="card-header">
                  <h4><div class="badge bg-primary-subtle">All Service Errors</div></h4>
              </div>
              <div class="card-body">
                
              </div>
            </div>


            <!-- UNRESPONSIVE DASHBOARD -->
            <div class="card">
              <div class="card-header">
                  <h4><div class="badge bg-secondary">No Response</div></h4>
              </div>
              <div class="card-body">
                
              </div>
            </div>

        </div>
      </div>
    </div>
  </section>
</div> <!-- page content -->


{% include "modal/basemodal.html" %}

{% endblock %}