{% extends "base.html" %}


{% load django_bootstrap5 %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="shadow-sm p-3 mb-5 bg-body rounded border border-2 border-warning">
        <div class="card-title m-3"><h4 class="text-warning strong">Warning</h4></div>
            <div class="card-body large card bg-default text-black" id="warning-section">
                {% for w in warning %}
                <div class="row m-1 mb-3 border border-1">
                    <div class="col col-2 bg-info">
                        <b>{{ w.name }}</b>
                    </div>
                    <div class="col col-8 m-1">
                        <table class="table table-hover table-bordered table-responsive table-sm">
                            <tbody>
                                {% for svc in w.services %}
                                <tr>
                                    <td>{{ svc.name }}</td>
                                    {% if svc.event %}
                                    <td>{{ svc.id }} {{ svc.event }}</td>
                                    {% endif %}
                                    <td>
                                    <span id="target_{{svc.id}}">
                                        {% if svc.ack.0.state == True %}
                                        <button id="btn_{{svc.id}}" class="btn btn-secondary btn-sm ack_btn"
                                        hx-get="{% url 'ack_service' svc_id=svc.id %}" 
                                        hx-trigger="click" 
                                        hx-target="#target_{{svc.id}}" 
                                        hx-swap="OuterHTML">Un-ack
                                        </button>
                                        {% else %}
                                        <button id="btn_{{svc.id}}" class="btn btn-primary btn-sm ack_btn"
                                        hx-get="{% url 'ack_service' svc_id=svc.id %}" 
                                        hx-trigger="click" 
                                        hx-target="#target_{{svc.id}}" 
                                        hx-swap="OuterHTML">Ack
                                        </button>
                                        {% endif %}
                                    </span>
                                    </td>
                                </tr> 
                                           
                                {% endfor %}

                              </tbody>
                        </table>
                    </div>
                </div>
                {% endfor %}
        </div> <!-- warning-section -->
    </div>
</div> <!-- container-fluid -->

{% endblock %}