{% load static %}
<div class="container">
  <div class="row">
    <!-- PROD ERRORS -->
    <div class="col">
      <div class="card">
        <div class="card-body px-3 py-4-5">
          <div class="row">
            <div class="col-sm-3 d-flex justify-content-start ">
              <div class="stats-icon red mb-2"><i class="bi bi-exclamation-circle-fill"></i></div>
            </div>
            <div class="col">
              <h6 class="text-muted font-semibold">PROD Errors</h6>
              <h6 class="font-extrabold mb-0">2 hosts</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- PROD -->

    <!-- ALL ERRORS -->
    <div class="col">
      <div class="card">
        <div class="card-body px-3 py-4-5">
          <div class="row">
            <div class="col-sm-3 d-flex justify-content-start ">
              <div class="stats-icon red mb-2"><i class="bi bi-exclamation-circle"></i></div>
            </div>
            <div class="col">
              <h6 class="text-muted font-semibold">All Errors</h6>
              <h6 class="font-extrabold mb-0">24 hosts</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ALL ERRORS -->

    <!-- SERVICE -->
    <div class="col">
      <div class="card">
        <div class="card-body px-3 py-4-5">
          <div class="row">
            <div class="col-sm-3 d-flex justify-content-start ">
              <div class="stats-icon mb-2" style="background-color: var(--bs-yellow)"><i class="bi bi-gear"></i></div>
            </div>
            <div class="col">
              <h6 class="text-muted font-semibold">Service errors</h6>
              <h6 class="font-extrabold mb-0">26 services</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- SERVICE -->

    <!-- NO RESPONSE -->
    <div class="col">
      <div class="card">
        <div class="card-body px-3 py-4-5">
          <div class="row">
            <div class="col-sm-3 d-flex justify-content-start">
              <div class="stats-icon mb-2" style="background-color: var(--bs-gray)"><i class="bi bi-emoji-dizzy-fill"></i></div>
            </div>
            <div class="col">
              <h6 class="text-muted font-semibold">No Response</h6>
              <h6 class="font-extrabold mb-0">4 hosts</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- NO RESPONSE -->

    <!-- OK -->
    <div class="col">
      <div class="card">
        <div class="card-body px-3 py-4-5">
          <div class="row">
            <div class="col-sm-3 d-flex justify-content-start">
              <div class="stats-icon green mb-2"><i class="bi bi-check-circle-fill"></i></div>
            </div>
            <div class="col">
              <h6 class="text-muted font-semibold">OK</h6>
              <h6 class="font-extrabold mb-0">21 hosts</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- OK -->
  </div>
</div> <!-- warning card contaner -->