<div class="p-1 mb-3 host_detail hideme flex">
  {% if obj.active == 1 %}
  <span class="badge text-bg-success">active</span>
  {% else %}
  <span class="badge text-bg-secondary">inactive</span>
  {% endif %}


  {% if obj.ignore == 1 %}
  <span id="warning-result" class="badge text-bg-info">Ignored</span>
  {% else %}
  <span id="warning-result"></span>
  {% endif %}

  <span class="badge text-bg-light-secondary">{{current_dt}}</span>
  </div>
  
  <ul class="nav nav-tabs mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="pills-services-tab" data-bs-toggle="pill" data-bs-target="#pills-services" type="button" role="tab" aria-controls="pills-services" aria-selected="false">Services</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-info-tab" data-bs-toggle="pill" data-bs-target="#pills-info" type="button" role="tab" aria-controls="pills-info" aria-selected="true">Information</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-alerting-tab" data-bs-toggle="pill" data-bs-target="#pills-alerting" type="button" role="tab" aria-controls="pills-alerting" aria-selected="false">Alerting</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-admin-tab" data-bs-toggle="pill" data-bs-target="#pills-admin" type="button" role="tab" aria-controls="pills-admin" aria-selected="false">Admin</button>
    </li>
  </ul>
  <div class="tab-content" id="pills-tabContent">
 
  
    <!-- SERVICES -->
    <div class="tab-pane fade show active" id="pills-services" role="tabpanel" aria-labelledby="pills-services-tab" tabindex="0">
      <ul style="list-style-type:none;">
      {% for svc in services %}
      
        {% if svc.status != 0 %}
          <li><i class="bi bi-circle-fill redtext"></i> {{ svc.name }} {{ svc.event }}</li>
        {% else %}
          <li><i class="bi bi-circle-fill greentext"></i> {{ svc.name }}</li>
        {% endif %}
      
      {% endfor %}
    </div>
    
    <!-- INFO -->
    <div class="tab-pane fade" id="pills-info" role="tabpanel" aria-labelledby="pills-info-tab" tabindex="0">
      <table class="table table-bordered border-primary">
        <tr>
          <td>monit</td>
          <td>
            <ul>
              <li>version: {{ obj.monit_version }}</li>
              <li>last checkin: {{ obj.last_checkin }}</li>
              <li>cycle: {{ obj.cycle }} seconds</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>OS</td>
          <td>
            <ul>
              <li>{{ obj.os_name }} {{ obj.os_release }} {{ obj.os_arch }}</li>
              <li>{{ obj.os_version }}</li>
            </ul> 
          </td>
        </tr>
        <tr>
          <td>memory</td>
          <td>RAM {{ memory }} MB<br>Swap {{ swap }} MB</td>
        </tr>
        <tr>
          <td>cpu</td>
          <td>{{ obj.cpu }}</td>
        </tr>
      </table>
    </div>
  
    <!-- ALERTING -->
    <div class="tab-pane fade" id="pills-alerting" role="tabpanel" aria-labelledby="pills-alerting-tab" tabindex="0">
      Alerting
    </div>
  
    <!-- ADMIN -->
    <div hx-ext="multi-swap" class="tab-pane fade" id="pills-admin" role="tabpanel" aria-labelledby="pills-admin-tab" tabindex="0">
      
      <button id="btn-ignore" type="button" 
        class="btn btn-sm btn-outline-info " 
        hx-post="{% url 'host_action' %}" 
        hx-swap="multi:#warning-result,#btn-ignore:outerHTML"
        hx-vals=' {"action": "ignore", "monit_id": "{{obj.monit_id}}"} '
        >
        {% if obj.ignore == 1 %}
        Monitor Host
        {% else %}
        Ignore Host
        {% endif %}
      </button>

      <button type="button" 
        id="btn_delete_agent" 
        class="btn btn-sm btn-outline-danger" 
        hx-post="{% url 'host_action' %}" 
        hx-vals='{"action": "delete", "monit_id": "{{obj.monit_id}}", "source": "htmx" }'
        hx-target="#pills-admin" 
        hx-swap="InnerHTML" 
        hx-confirm="Are you sure">
        Delete Host
      </button>
      <br><br>
    </div>
    
    
  </div>